<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>registracija</title>
</head>

<body>
<div class="login">
    @using (Html.BeginForm("Validate", "RegisterUser")) {
        <form method="post">
            <h2 class="sr-only">Login Form</h2><img class="img-fluid" src="~/img/bluestate.jpg"><small class="form-text text-muted">Enter the info down below.</small>
            <div class="illustration">
                <input class="form-control" type="text" name="etFirstName" placeholder="First name">
                <input class="form-control" type="text" name="etLastName" placeholder="Last name">
                <input class="form-control" type="email" name="etEmail" placeholder="Email">
                <input class="form-control" type="text" name="etUsername" placeholder="Username">
                <input class="form-control" type="password" name="etPassword" placeholder="Password">
                <input class="form-control" type="password" name="etConfirmPassword" placeholder="Confirm password">
            </div>
            <div class="btn-group" role="group"></div>
            <div class="btn-group" role="group"></div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" id="btnSignInAsGuest" type="submit" style="background: #40A15D;">Register</button>
            </div>
        </form>
    }
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>