@model Korisnik

<!DOCTYPE html>

<html>
<head>
    <title>Title</title>
</head>
<body>
<p>U toku je otklanjanje kvarova i veliko unaprijeđenje naše stranice. Molimo korisnike za strpljenje i zahvaljujemo na razumijevanju. 
<p>Vaš Bluestate.
<div>

</div>
</body>
</html>